@using LabASPNETWeb.DataRepository.Linq
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/shared/_mainLayout.cshtml";
    List<wpNew> newss = ViewBag.newss;
}

@section PageTitle{
    <h1 class="my-4">
        Homepage        
    </h1>
}

<!-- Blog Post -->
@foreach (wpNew n in newss)
{
<div class="card mb-4">    
    <div class="card-body">
        <h2 class="card-title">@n.title</h2>
        <p class="card-text">@n.shortdesc</p>
        <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Posted on @String.Format("{0:dd/MM/yyyy HH:mm:ss}",n.createdt) by
        <a href="#">[@n.usr_create] - @n.wpUser.name</a>
    </div>
</div>
}
